.dragon-web-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #1a1a1a; /* Темный фон */
    color: #fff;
    text-align: center;
  }
  
  .image-container {
    position: relative;
    width: 100px; /* Уменьшение размера изображения */
    height: auto;
    margin-bottom: 20px;
  }
  
  .header-image {
    width: 50%;
    height: auto;
    border-radius: 50%; /* Закругление изображения */
    box-shadow: 0 0 15px 15px rgba(26, 26, 26, 0.7); /* Эффект размытия */
    margin: 0; /* Убираем отступы */
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 3em;
    margin: 0;
    animation: blink 2s infinite; /* Мигающая анимация */
  }
  
  .header h2 {
    font-size: 2em;
    margin: 0;
    animation: blink 2s infinite 1s; /* Мигающая анимация с задержкой */
  }
  
  .menu-button {
    padding: 15px 30px;
    font-size: 1.5em;
    color: #fff;
    background-color: #ff6f61;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: blink 2s infinite 2s, colorChange 2s infinite 2s; /* Мигающая анимация с задержкой и смена цвета */
  }
  
  .menu-button:hover {
    background-color: #ff4f41;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  @keyframes colorChange {
    0%, 100% {
      background-color: #ff6f61;
    }
    50% {
      background-color: #1c0850;
    }
  }
  